.exp-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exp-list li {
    margin: 0 1rem;
}

.exp-list li p {
    margin-top: 0;
    color: #666666;
}
.fill {
    font-size: 40px;
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    
}
.fade {
    color: #9292925c;
    font-size: 2rem;
}

.popup {
    height: 0px;
    width: 0px;
}

.exp-list.exp li {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-right: 0 !important;
}

.exp-list.exp li p {
    margin-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.exp-list li:hover, .exp-list li:active{
    /* height:300px; */
  }

.companyImg {
    height: 2rem;
    width: 2rem;
    margin-top: 0;
    margin-right: 0.6rem;
    margin-bottom: 0;
    margin-left: -1rem;
}

.timeTag {
    color: white;
    background-color: #787c7f;
    padding: 1px 0.2rem;
    border-radius: 1rem;
    font-size: .65rem;
    margin: 0px 0.3rem;
    font-style: oblique;
    cursor: default;
    display: flex;
    align-items: center;
}

.hourglass {
    font-size: 1rem;
    cursor: pointer;
}
cite {
    font-size: .75rem;
}