.exp-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exp-list li {
    margin: 0 1rem;
}

.exp-list li p {
    margin-top: 0;
    color: #666666;
    margin-bottom: 0.2rem;
}
.fill {
    font-size: 40px;
    /* background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%); */
    /* -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    color: #5b52529e;
    text-shadow: 0px 0px 5px #80ad8b;
    font-size: 1.3rem;
    
}
.fade {
    color: #9292925c;
    font-size: 1.3rem;
}

.popup {
    height: 0px;
    width: 0px;
}

.exp-list.exp li {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-right: 0 !important;
    margin-bottom: 1rem;
}

.exp-list.exp li p {
    margin-left: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.exp-list li:hover, .exp-list li:active{
    /* height:300px; */
  }

.compGlass {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nameGlass {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.companyImg {
    height: 2rem;
    width: 2rem;
    margin-top: 0;
    margin-right: 0.6rem;
    margin-bottom: 0;
    margin-left: -1rem;
}

.timeTag {
    color: white;
    background-color: #787c7f;
    padding: 1px 0.2rem;
    border-radius: 1rem;
    font-size: .65rem;
    margin: 0px 0.3rem;
    font-style: oblique;
    cursor: default;
    display: flex;
    align-items: center;
}

.hourglass {
    font-size: 1rem;
    cursor: pointer;
}
cite {
    font-size: .75rem;
}

.moreAbout {
    color: darkslategrey;
    height: 4.5rem;
    /* height: max-content; */
    overflow-y: hidden;
    transition: height 1s ease-out;
}
.moreAbout > p {
    background-color: aliceblue;
    height: 2rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 0.4rem;
    margin: 1rem 1rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 30px rgb(0 0 0 / 16%);
}
.moreAbout > ul {
    margin: 0 3rem;
}
.moreAbout > ul > li {
    text-align: left;
}