.exp-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.exp-list li {
    margin: 1rem;
}

.exp-list li p {
    margin-top: 0;
    color: #666666;
}
.fill {
    font-size: 40px;
    background: -moz-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: -webkit-linear-gradient(top, #e72c83 0%, #a742c6 100%);
    background: linear-gradient(to bottom, #e72c83 0%, #a742c6 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    
}
.fade {
    color: #9292925c;
    font-size: 2rem;
}

.popup {
    height: 0px;
    width: 0px;
}

.transform {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
}

@-webkit-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes SHOW-BOX {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.show-box {
    -webkit-animation: SHOW-BOX 2s ease-in-out;
    -moz-animation: SHOW-BOX 2s ease-in-out;
    -o-animation: SHOW-BOX 2s ease-in-out;
    animation: SHOW-BOX 2s ease-in-out;
}